#features  
  background: -moz-linear-gradient(45deg, rgba(255,184,102,1) 0%, rgba(207,109,1,1) 100%)
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,184,102,1)), color-stop(100%, rgba(207,109,1,1)))
  background: -webkit-linear-gradient(45deg, rgba(255,184,102,1) 0%, rgba(207,109,1,1) 100%)
  background: -o-linear-gradient(45deg, rgba(255,184,102,1) 0%, rgba(207,109,1,1) 100%)
  background: -ms-linear-gradient(45deg, rgba(255,184,102,1) 0%, rgba(207,109,1,1) 100%)
  background: linear-gradient(45deg, rgba(255,184,102,1) 0%, rgba(207,109,1,1) 100%)
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf6d01', endColorstr='#FFB866',GradientType=1 )
  height: 800px
  color: white
  font-family: 'Proxima Nova Bold' sans-serif !important
